{% extends "base.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'create_task.css'%}">

<h1>Add New Task</h1>
<div class="center m-5">
    <form method="post">
        {% csrf_token %}
            <tr>
                <td>Title: </td>
                <td><input type="text" name="title" placeholder="Fill todo" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Description: </td>
                <td><input type="text" name="description" placeholder="fill description" class="form-control"></td>
            </tr>
    
        <br>
        <button type="submit">Create Task</button>
    </form>
</div>
    
    {% endblock %}