{% extends 'base.html' %}

 {% block content %}
 <style>
    h1,h2,h3,b, button, th, td, table {text-align: center;}
    table, th, td {
        border-collapse: collapse;
        border:1px solid black;
        border-width: 1px;
    
    }
    *{
      text-align: center;
      vertical-align: middle;
    }
    th, td {
      padding: 10px 10px
    }
    table,button {
      margin-left: auto;
      margin-right: auto;
    }
  </style>

 <h1>🤡 Todolist 🤡</h1>

 <h2>Hello, {{username}} 😘</h2>
 <table>
   <tr>
     <th>Date</th>
     <th>Title</th>
     <th>Description</th>
   </tr>
     {% for task in todolist %}
     <tr>
         <td>{{task.date}}</td>
         <td>{{task.title}}</td>
         <td>{{task.description}}</td>
         {% endfor %}
     </tr>
 </table>
<br>
<h5>Last Login: {{ last_login }}</h5>
<button><a href="{% url 'todolist:create_task' %}">Create Task</a></button>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>

{% endblock content %}






