{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'todo1ist.css'%}">
{% block content %}
<div class="listBox">
    <ul>
      <li>
        <div class="listImg"></div>
        <dl>
          <dt>Google</dt>
          <dd>
            <p>Operation Manager</p>
            <span>May 12 - Sep 15</span>
          </dd>
        </dl>
      </li>
      <li>
        <div class="listImg"></div>
        <dl>
          <dt>Airbnb</dt>
          <dd>
            <p>Operation Manager</p>
            <span>May 12 - Sep 15</span>
          </dd>
        </dl>
      </li>
      <li>
        <div class="listImg"></div>
        <dl>
          <dt>twitter</dt>
          <dd>
            <p>Operation Manager</p>
            <span>May 12 - Sep 15</span>
          </dd>
        </dl>
      </li>
      <li>
        <div class="listImg"></div>
        <dl>
          <dt>Lystable</dt>
          <dd>
            <p>Operation Manager</p>
            <span>May 12 - Sep 15</span>
          </dd>
        </dl>
      </li>
      <li>
        <div class="listImg"></div>
        <dl>
          <dt>Facebook</dt>
          <dd>
            <p>Operation Manager</p>
            <span>May 12 - Sep 15</span>
          </dd>
        </dl>
      </li>
      <li>
        <div class="listImg"></div>
        <dl>
          <dt>Apple</dt>
          <dd>
            <p>Operation Manager</p>
            <span>May 12 - Sep 15</span>
          </dd>
        </dl>
      </li>
    </ul>  
  </div>
  <p class="by">Design by <a href="https://dribbble.com/shots/2316230-Lystable-Landing-Page" target="_blank">dribbble</a></p>
  
  
  {% endblock content %}